<?xml version="1.0" encoding="utf-8"?><!--
  ~
  ~  Copyright 2022 Jeluchu
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Jchucomponents"
        android:supportsRtl="true">
        <activity
            android:name="com.jeluchu.composer.features.dashboard.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="supabase-auth"
                    android:scheme="com.jeluchu.composer" />
            </intent-filter>
        </activity>
    </application>

</manifest>
